
:root {
    --main-grey-color: rgb(243, 237, 237);
    --main-gold-color: rgb(245, 237, 196); 
        
}

#page {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas: "head head"
                         "nav  main"
                         "nav  foot";
    grid-template-rows: 6rem 1fr 30px;
    grid-template-columns: 150px 1fr;
    gap: 1rem;
  }
  
  #page > div {
    grid-area: head;
    background-color: var(--main-grey-color)
    
    
  }
  
  #page > nav {
    grid-area: nav;
    background-color:var(--main-grey-color)
  }
  
  #page > main {
    grid-area: main;
    background-color: var(--main-grey-color);
  }
  
  #page > footer {
    grid-area: foot;
    background-color: var(--main-grey-color);
  }

  ul {
      display: flex;
      flex-direction: column;
      background-color: var(--main-grey-color);
  }

  li {
      background-color: var(--main-gold-color);
      border-style: double;
      border-color: var(--main-grey-color);
      
  }

#Brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#Brand > header{
    font-size: 3rem;
    color: darkgoldenrod;
    text-decoration: underline crimson;
    

}
.manipulationButton {
    float: right;
    justify-self: center;
    
}